# Ignore mid, png, jpg, and bat files
*.mid
*.png
*.jpg
*.bat

# Ignore MinecraftServer directory
MinecraftServer/
minecraft_block_seacher/
.vs/
Resources/
**/__pycache__/

# Ignore test[number].py files
test[0-9]*.py
*tempCodeRunnerFile.py